[Unit]
Description=Helix P4P Server %I
Documentation=https://www.perforce.com/manuals/v15.1/p4dist/chapter.proxy.html

[Service]
EnvironmentFile=/etc/helix-p4p.d/%i.env
Type=simple
PIDFile=/var/run/helix-p4p-%i.pid
ExecStart=/usr/sbin/p4p &
User=%i

# Other options to consider
# -v net.tcpsize=2000000 -v filesys.bufsize=2000000 -v proxy.monitor.level=10

[Install]
WantedBy=multi-user.target
