[Unit]
Description=Helix P4P Sync $I

[Service]
EnvironmentFile=/etc/helix-p4p.d/%i.env
Type=oneshot
StandardOutput=file:/var/log/helix-p4p/sync-%i.log
ExecStart=/opt/perforce/servers/SAMPLE/bin/sync.sh
User=$i
# /var/log/helix-p4p ?

[Install]
WantedBy=multi-user.target
